/*@font-face {
    font-family: AwesomeFont;
    src: url(fonts/fontawesome-webfont.ttf)
}*/

@fa-font-path:  "fonts/";
.facebookSquare {
    display: inline-block;
    font-family: AwesomeFont;
    
    
    &:before {
    content: '\e806';
    }
}
