
.carouselDesc{
    display: block;
    float: none; 
    margin: 0 auto;
       .learnMore {
        margin:0 auto;
        display: block;
    }
}

h6 {
    font-size: large;
    color: black;
    font-weight: 700; 
}

.fourP{
    display: flex;
}

h4 {
    font-weight: 900;
}
h1 {
    font-weight: 700;
}

.tlo3 {
    text-align: center;
}
.spriteDiv {
    float: none;
    padding: 0;
    margin: 0 auto;
    div {
        margin: 0 auto;
        width: 64px;
        height: 64px;
    }
}
#sprite1 {
    background: url(../assets/sprite.png) 0 0;
}
#sprite2 {
    background: url(../assets/sprite.png) -64px 0;
}
#sprite3 {
    background: url(../assets/sprite.png) -128px 0;
}
#sprite4 {
    background: url(../assets/sprite.png) -192px 0;
}
#sprite5 {
    background: url(../assets/sprite.png) -256px 0;
}
#sprite6 {
    background: url(../assets/sprite.png) -320px 0;
}