@media screen and (max-width: 480px) {
    .tlo7 {
        h2{
            font-size: medium;
        }
    }
}
@media screen and (max-width: 768px) {
.disapear {
    display: none;
} 

.naCoTenPadding{
    padding-left: 0;
    padding-right: 0;
}
.item {
        padding-bottom: 30px;
    }
.carouselDesc{
    display: block;
    float: none; 
    margin: 0 auto;
    .learnMore {
        margin: 0 auto;
        display: block;
    }
    h3 {
        margin-top: 0;
    }
}
#myCarousel {
    padding-top: 30px;
}

h6 {
    font-size: large;
    color: black;
    font-weight: 700; 
}

.fourP{
    display: flex;
}

h4 {
    font-weight: 900;
}
h1 {
    font-size: x-large;
    font-weight: 700;
    color: white;
}
.tlo {  
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
}
.tlo4{
    background-color: lightgray;
    padding: 0;
}
.tlo1 {
    padding: 0;
}
.tlo2 {
    padding: 0;
}

.right, .left {
    background-image: inherit;
}

.tlo3 {
    border-top-color: grey;
    border-top-style: solid;

    text-align: center;
}

.tlo6 {
    background-color: lightgrey;
    text-align: center;
}




.pictures {
    img {
        padding: 0;
    }
}


/*multikaruzela*/
.multi-item-carousel{
  .carousel-inner{
    .item{
      transition: 500ms ease-in-out left;
      div {
          padding: 0;
      }
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

.carouselOrNot {
    padding: 0;
}



.tlo7 {
    h2{
        margin-bottom: 0;
        box-sizing: border-box;
        padding: 0 15px;
        width: 50%;
        float: left;
    }
    img {
        float: left;
    }
    p{
        text-align: justify;
        padding: 0 20px;
        margin-top: 30px;
    }
}
.smallPic {
    width: 25%;
}

}

